<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <h3>Editar Perfil</h3>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :avatar %>
          <br>
          <%= render 'shared/avatar', user: @user %>
          <br>
          <br>
          <%= f.file_field :avatar %>
        </div>
        <div class="form-group">
          <%= f.label :cover %>
          <br>
          <%= render 'shared/cover', user: @user %>
          <br>
          <%= f.file_field :cover %>
        </div>
        <div class="form-group">
          <%= f.label 'Nombre' %>
          <%= f.text_field :name, placeholder: 'Nombre completo', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'Cargo' %>
          <%= f.text_field :cargo, placeholder: 'Cargo', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'Intereses' %>
          <%= f.text_area :about, placeholder: 'Intereses', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'Ciudad' %>
          <%= f.text_field :location, placeholder: 'Ciudad', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'Teléfono' %>
          <%= f.text_field :phone_number, placeholder: 'Teléfono', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'Fecha de Nacimiento' %>
          <%= f.text_field :dob, placeholder: 'Fecha de nacimiento', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'Sexo' %><br>
          <%= f.select :sex, options_for_seasons, class: 'form-control', prompt: 'Select One' %>
        </div>
        <div class="actions">
          <%= submit_tag 'Update', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
