<div class="row">
  <div id="newsfeed" class="col-lg-6">
    <h4><%= fa_icon "newspaper-o" %> PUBLICACIONES</h4>
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <div id="intro" class="col-lg-6">
    <h1>Organización <%=Apartment::Tenant.current.capitalize %></h1>
    <p>Bienvenido, este es el punto de acceso a la plataforma kubera de su compañía. Inicie sesión para comenzar.</p>
    <hr>

  </div>
</div>
